
Aula1Ed1/.idea/copyright/Guilherme.xml
Aula1Ed1/.idea/copyright/profiles_settings.xml
Aula1Ed1/.idea/dictionaries/guiih.xml
Aula1Ed1/.idea/modules.xml
Aula1Ed1/.idea/misc.xml
Aula1Ed1/.idea/scopes/Copyright.xml
Aula1Ed1/.idea/uiDesigner.xml
Aula1Ed1/.idea/vcs.xml
